<% show_post ||= false %>

<div class="row">
	<div class="span0 well well-small text-center">
		<%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
		<i class='icon-arrow-up'></i>
		<% end %>
		<%= comment.up_votes %>
		<br/>
		Votes <%= comment.total_votes %>
		<br/>
		<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
		<i class='icon-arrow-down'></i>
		<% end %>
		<%= comment.down_votes %>
	</div> 

	<div class="span 8 well well-small">
		<em>"<%= comment.body %>"</em>
		<% if show_post %>
		on <%= link_to comment.post.title, post_path(comment.post) %>
		<% end %>
		<br>
		<span class="quiet"> by </span><%= link_to comment.user.username, user_path(comment.user) %>
		<span class="quiet"> <%=ozdate(comment.created_at)%> </span> 
	</div>
</div>