<h4 class="lead"><%= @user.username.titleize %>s Profile</h4>
<hl/>
<div class="well">
<p>Pats Profile<br/>
Not much to show at this stage</p>

</div>	

<ul class="nav nav-tabs">

  <li class=<%='active' if params[:tab].nil? %> >
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user)%>
  </li>
  
  <li class=<%= 'active' if params[:tab] == 'comments'%> >
		<%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
		</li>

</ul>
<% if params[:tab].nil? %>
	<% @posts.each do |post| %>
	<%= render 'posts/post', post: post %>
	<% end %>
<% elsif params[:tab] == 'comments'%>
	<% @comments.each do |commenting| %>
	<%= render 'comments/comment', comment: commenting, show_post:  true %>
	<% end %>
<% end %>