<div class= "well well-lg"></strong> <%=link_to "<strong>#{post.title}</strong>".html_safe, post_path(post) %></strong><br/> <%= post.description %><br><%=link_to(post.url, "#{fix_url(post.url)}") %> <span class="quiet"> <%= ozdate(post.created_at) %></span><br>
<%= link_to "Edit Post", edit_post_path(post)%>
</div>