<h3>Welcome to the Postit App</h3>

<h4>List of all posts<span>

<%= link_to "Create a new post", new_post_path,  class: 'btn btn-success pull-right' %></span>
</h4>
<% @posts.each do |post| %>
<div class= "well well-lg"></strong> <%=link_to "<strong>#{post.title}</strong>".html_safe, post_path(post) %></strong><br/> <%= post.description %><br><%= post.url %><br>
<%= link_to "Edit Post", edit_post_path(post)%>

</div>
<% end %>
</ul>

