<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

	
		<div class="btn-group">
		  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		    Category
		    <span class="caret"></span>
		  </a>
				
		  <ul class="dropdown-menu">
			<%	Category.all.each do |category| %>
				  <li> 
						<%= link_to category.name, category_path(category) %>
					</li>
				<% end %>
        <% binding.pry%>
				<% if logged_in? and current_user.admin? %>	
					<li class="divider"></li>
					<li>
						<%= link_to(new_category_path) do %>
						<i class="icon-plus"></i>
						New Category
						<% end %> 
					</li>
				<% end %>
		  </ul>
		</div>
<% if logged_in? %>		
<span class="nav-item">
	<%= link_to 'Create New Post', new_post_path, class: "btn btn-small btn-success" %>
</span>
<% end %>

<span class="pull-right">
<% if logged_in? %>
	<div class="btn-group">
		<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
			<%= current_user.username.titleize %> 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>	<%= link_to 'Log Out', logout_path %> </li>
			<li>  <%= link_to 'Edit Profile', edit_user_path(current_user)%> </li>
			<li>  <%= link_to  'Show Profile', user_path(current_user)%>
		</ul>
	</div>
<% else %>
	<%= link_to 'Log in', login_path, class: "btn btn-small btn-success" %>
	<%= link_to 'Register', register_path, class: "btn btn-small btn-success" %>
<% end %>
</span>
	
