<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
</ul>

	
		<div class="btn-group">
		  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
		    Category
		    <span class="caret"></span>
		  </a>
				
		  <ul class="dropdown-menu">
			<%	Category.all.each do |category| %>
				  <li> 
						<%= link_to category.name, category_path(category) %>
					</li>
				<% end %>
				<% if logged_in? %>	
					<li class="divider"></li>
					<li>
						<%= link_to(new_category_path) do %>
						<i class="icon-plus"></i>
						New Category
						<% end %> 
					</li>
				<% end %>
		  </ul>
		</div>
<% if logged_in? %>		
<span class="nav-item">
	<%= link_to 'Create New Post', new_post_path, class: "btn btn-small btn-success" %>
</span>
<% end %>

<% if logged_in? %>
<span class="nav-item">
<%= "Hi #{user.username}" %> 	<%= link_to 'Log Out', logout_path, class: "btn btn-small "%>
	<% else %>
	<%= link_to 'Log in', login_path, class: "btn btn-small btn-success" %>
	<% end %>
	
